<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogos</title>
    <link rel="stylesheet" href="../static/bootstrap_css/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap_css/css/style.css">
</head>
<body>
    <h3>Levantamento de Potência</h3>
      <form action="/criar" method="post">
              <div class='form-group form-control for'>
                <label for="nome">Dependência:</label>
                    <select name="nome" id="nome" class="campo">
                        <option value="vazio"></option>
                        <option value="Sala de estar">Sala de estar</option>
                        <option value="Quarto">Quarto</option>
                        <option value="hall">Hall</option>
                        <option value="varanda">Varanda</option>
                        <option value="cozinha">Cozinha</option>
                        <option value="servico">Área de serviço</option>
                        <option value="wc">Banheiro</option>
                        <option value="corredor">Corredor</option>
                    </select>                  
              
                        <label for="categoria">Área:</label>
                        <input type="text" id="area" name="area"/>
                    
                        <label for="console">Perímetro:</label>
                        <input type="text" id="perimetro" name="perimetro"/>
                                                
                        <button type="submit" class="button"> Gravar</button>
              </div>
        </form>
    <div class="container">
        <h1>{{titulo}}</h1>
    
    <table class="table table-striped table-responsive table-bordered">
        <thead class="container-content">
            <th>Dependência</th>
            <th>Área Informada</th>
            <th>Perímetro Informado</th>
            <th>Potência VA Iluminação</th>
        </thead>
        <tbody>
            {% for get_dados in areas %}
                <tr>
                    <td>{{ get_dados.nome }}</td>
                    <td>{{ get_dados.area }}</td>
                    <td>{{ get_dados.perimetro }}</td>
                    <td>{{ get_dados.potencia_luz }}</td>
                </tr>        
            {% endfor %}
            <tfoot class="container-content">
                <th>Total</th>
                <th></th>
                <th></th>
                <th></th>
            </tfoot>
        </tbody>
    </table>
</div>

</body>
</html>